@model ClienteEditInputModel
<form method="POST">
    <input type="hidden" asp-for="@Model.Id">
    <input type="hidden" asp-for="@Model.Spese">
    <div class="card">
        <div class="card-header">Modifica del cliente</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-12" asp-validation-summary="All"></div>
                            </div>
                            <div class="row">
                                <div class="col-md testo-bt">Qualora un dato <u>non fosse disponibile</u> indicare la dicitura N/A nella relativa casella.</div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="RagioneSociale" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="RagioneSociale" class="form-control">
                                        <span asp-validation-for="RagioneSociale"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Indirizzo" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="Indirizzo" class="form-control">
                                        <span asp-validation-for="Indirizzo"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label asp-for="Comune" class="labtitolo-tabella-bt"></label>
                                        <input type="text" asp-for="Comune" class="form-control">
                                        <span asp-validation-for="Comune"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Cap" class="labtitolo-tabella-bt"></label>
                                        <input type="text" asp-for="Cap" class="form-control">
                                        <span asp-validation-for="Cap"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label asp-for="Provincia" class="labtitolo-tabella-bt"></label>
                                        <input type="text" asp-for="Provincia" class="form-control">
                                        <span asp-validation-for="Provincia"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Telefono" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="Telefono" class="form-control">
                                        <span asp-validation-for="Telefono"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Fax" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="Fax" class="form-control">
                                        <span asp-validation-for="Fax"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CodiceFiscale" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="CodiceFiscale" class="form-control">
                                        <span asp-validation-for="CodiceFiscale"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PartitaIva" class="labtitolo-tabella-bt"></label><br>
                                        <input type="text" asp-for="PartitaIva" class="form-control">
                                        <span asp-validation-for="PartitaIva"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    <a class="btn btn-outline-secondary ml-3" asp-action="Detail" asp-route-id="@Model.Id"><i class="fas fa-reply"></i> Annulla</a>&nbsp;
                                    <button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i> Aggiorna</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_Validation"></partial>
}