<div class="container spaces-top">
    <div class="row">
        <div class="col-md">
            <div class="card-group">
                <div class="card card-height">
                    <div class="card-body">
                        <h5 class="card-title">Personale Presente</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="card card-height">
                    <div class="card-body">
                        <h5 class="card-title">Mezzi Operativi</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ultime 10 missioni registrate</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ultimo aggiornamento: @DateTime.Now.ToShortDateString() alle ore @DateTime.Now.ToShortTimeString() </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>