<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Applicativo pensato per le associazioni di pubblica assistenza <br>
    che giornalmente effettuano diversi servizi di trasporto.</p>
    <p><a asp-controller="Home" asp-action="Dashboard" class="btn btn-light">Accedi alla Dashboard <i class="fa fa-chevron-right"></i></a></p>
</div>