@model MissioneEditInputModel
<form method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Titolo"></label>
        <input type="text" class="form-control" asp-for="Titolo">
    </div>
    <div class="form-group">
        <label asp-for="Data"></label>
        <input type="date" class="form-control" asp-for="Data">
    </div>
    <div class="form-group">
        <label asp-for="Tipologia"></label>
        <select asp-for="Tipologia" class="form-control" asp-items="@Html.GetEnumSelectList<TipologiaMissione>()"></select>
    </div>
    <button type="submit" class="btn btn-primary">Salva</button>
</form>

@section Scripts
{
    <script>
        const interval = setInterval(tryAcquireLock, 2000);
        // Faccio polling per verificare se posso andare in modifica
        function tryAcquireLock() {
            $.ajax({
                url: '@Url.Action("RefreshEdit", "Missioni", new { id = Model.Id })',
                type: 'GET',
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                }
            })
            .done(function() {
               // Ok, ho rinnovato il lock pessimistico
            })
            .fail(function() {
               // Qualche altro utente ha acquisito il lock?? Questo non dovrebbe succedere.
               console.error('Un altro utente sta modificando la missione');
               window.location = '@Url.Action("WaitForEdit", "Missioni", new { id = Model.Id })';
            });
        }
    </script>
}